html {
	background: url(patternlibrarykalesalad.jpg);
}
body {
	line-height: 1.5;
	color: black;
}
p, li, footer {
	font-family: 'Lato', 'Telex', sans-serif;
	text-align: justify;
	margin: 1vw 3vw;
}
h1, h2, h3{
	font-family: 'Chivo', sans-serif;
	letter-spacing: 0.01vw;
	margin: 1.5vw 1vw;
}
h1 {
	font-size: 4vw;
	margin-bottom: 0;
	text-align: center;
}
h2{
	font-size: 1.8vw;
	font-style: italic;
	text-align: center;
	margin-top: 0;
}
h3{
	font-size: 1.5vw;
	margin-bottom: 0;
	color: pink;
}
a:link{
  text-decoration: none; 
  color: #B7A5DF;	
}
a:visited { 
  text-decoration: none; 
  color: #D4CDDC;
  }
a:hover, a:focus, a:active { 
  text-decoration: underline; 
  color: #9685BA;
  }

.page-wrapper {
	background:white;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;	
	border: 1vw solid black;
}

.summary p {
	text-align: center;
	margin: 1vw 12vw;
}